body {
    background: url("../images/giftly.png")
}

.row {
    padding: 8px;
}

p {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 6px;
    color: #0781be;
}

.search {
    font-weight: bold;
}

.btn {
    background: #0781be !important;
    color: white !important;
    margin: 7px 7px 7px 0;
}

.btn:hover {
    background: #077bff !important;
}