html, body {
    background: url("../images/giftly.png");
    max-width: 100%;
    overflow-x: hidden;
}

.row {
    padding: 8px;
}

p {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 6px;
    color: #0781be;
}

label {
    font-weight: bold;
}

.button {
    background-color: #0781be;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 7px 7px 7px 0;
}

.button4 {
    border-radius: 12px;
}

.button:hover {
    background: #009ada;
}
